extends layout

block content
                           
  div(style="padding-left: 20px")
     h1= 'Change password'
     p For security reasons, please change your password:
     div(id="ctl00_Div2" style="padding:20px" class="container")
      if message
         div(class="alert alert-danger")!= message
      form(action="/changepassword" method="post")
        div(class="textentry")
         input(name="pass" type="password" id="pass" class="pass passwordEntry" placeholder="Password")
        div(class="textentry")
         input(name="repass" type="password" id="repass" class="repass passwordEntry" placeholder="Re-enter Password")
        div(class="buttons")
           input(type="submit" class="button" value="Change" class="changepassword")
 
        
        
        
