extends layout

block content
                           
  div(style="padding-left: 20px")
     h1!= 'You can always reach us at:' 
     p 
        a(href="emailto:brazilianlight2014@gmail.com")!= 'brazilianlight2014@gmail.com'
               
               
  div(class="footer" style="margin-top:20px; position:relative !important;")
     div(style="padding:5px;")
        img(src="images/armadillo.png", alt="Netlight", style="border-width:0px; width: 50px")