extends layout

block content
                           
  div(style="padding-left: 20px; min-height:100%")
     h1= 'Welcome and Please login:'
     p Making predictions is a step away. Please login first!
     div(id="ctl00_Div2" style="padding:20px" class="container")
      if message
         div(class="alert alert-danger")!= message
      form(action="/login" method="post")
        div(class="textentry")
         input(name="user" type="text" id="user" class="passwordEntry" placeholder="Username")
        div(class="textentry")
         input(name="pass" type="password" id="pass" class="passwordEntry" placeholder="Password")
        div(class="buttons")
           input(type="submit" class="button" value="Get in")
 
  div(class="footer" style="margin-top:20px;")
     div(style="padding:5px;")
        img(src="images/map.png", alt="Netlight", style="border-width:0px; width: 50px")
        //a(href="/match/new")!= "Predict!"
        
        
        
        
