h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #000000;    
    text-align: center;
    height: 500px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
